In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-01-30 01:06:21,19.7297,-155.0900,80.33,58,40,12.66
1,1,Palmer,US,2022-01-30 01:04:20,42.1584,-72.3287,14.61,76,100,3.00
2,2,Grand Gaube,MU,2022-01-30 01:08:02,-20.0064,57.6608,76.37,78,100,1.99
3,3,Mataura,NZ,2022-01-30 01:08:04,-46.1927,168.8643,56.73,99,100,2.64
4,4,Adilabad,IN,2022-01-30 01:08:04,19.6667,78.5333,57.74,35,21,0.81

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-01-30 01:06:21,19.7297,-155.0900,80.33,58,40,12.66
2,2,Grand Gaube,MU,2022-01-30 01:08:02,-20.0064,57.6608,76.37,78,100,1.99
13,13,Bengkulu,ID,2022-01-30 01:06:30,-3.8004,102.2655,77.97,87,100,3.80
17,17,Manokwari,ID,2022-01-30 01:04:21,-0.8667,134.0833,82.08,70,100,8.03
19,19,Busselton,AU,2022-01-30 01:08:21,-33.6500,115.3333,77.04,60,7,13.00
28,28,Cabinda,AO,2022-01-30 01:08:29,-5.5500,12.2000,77.95,91,100,2.93
36,36,Kavieng,PG,2022-01-30 01:08:34,-2.5744,150.7967,83.37,73,100,5.91
41,41,Atuona,PF,2022-01-30 01:08:36,-9.8000,-139.0333,77.77,79,22,12.01
42,42,Ulladulla,AU,2022-01-30 01:08:37,-35.3500,150.4667,82.87,64,57,8.05
43,43,Vaini,TO,2022-01-30 01:04:15,-21.2000,-175.2000,81.77,76,100,11.88

In [11]:
preferred_cities_df.count()

City_ID       148
City          148
Country       147
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [12]:
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0          Hilo      US     80.33  19.7297 -155.0900
2   Grand Gaube      MU     76.37 -20.0064   57.6608
13     Bengkulu      ID     77.97  -3.8004  102.2655
17    Manokwari      ID     82.08  -0.8667  134.0833
19    Busselton      AU     77.04 -33.6500  115.3333
28      Cabinda      AO     77.95  -5.5500   12.2000
36      Kavieng      PG     83.37  -2.5744  150.7967
41       Atuona      PF     77.77  -9.8000 -139.0333
42    Ulladulla      AU     82.87 -35.3500  150.4667
43        Vaini      TO     81.77 -21.2000 -175.2000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Grand Gaube,MU,76.37,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
13,Bengkulu,ID,77.97,-3.8004,102.2655,Grage Hotel Bengkulu
17,Manokwari,ID,82.08,-0.8667,134.0833,Swiss Belhotel Manokwari
19,Busselton,AU,77.04,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...
568,Pagudpud,PH,75.16,18.5616,120.7868,Saud Beach Resort and Hotel - 2
574,Puerto Escondido,MX,81.43,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
575,Kota Kinabalu,MY,84.18,5.9749,116.0724,Gaya Centre Hotel
577,Belawan,ID,79.09,3.7755,98.6832,Rumah Mamak Bapak M.Radial
578,Meulaboh,ID,76.55,4.1363,96.1285,Kost Pria

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))